.modtek/
ModTek/
CommunityAssets/
cleaned_output_log.txt
output_log.txt
/ScorchedEarth/Saves/
*.log
/GalaxyAtWar/Galaxy-at-War.txt
*.pdb
CAB-*/
/BTMechDumper/*.txt
/BTMechDumper/*.csv
/MadLabs/MechDefs/
/CABMechs/vehicleChassis-wip/
/CABMechs/vehicle-wip/
/AIToolkit/_Dump*/
log.txt
/CPLHelper/portraits/
