.modtek/
ModTek/
CommunityAssets/
cleaned_output_log.txt
output_log.txt
/ScorchedEarth/Saves/
*.log
/GalaxyAtWar/Galaxy-at-War.txt
*.pdb
/__candidates/
/CustomLocalSettings/main_log.txt
*.log.1
CAB-*/
/BTMechDumper/*.txt
/BTMechDumper/*.csv
/MadLabs/MechDefs/
/CABMechs/vehicleChassis-wip/
/CABMechs/vehicle-wip/
/AIToolkit/_Dump*/
log*.txt
/CPLHelper/portraits/
/GalaxyAtWar/dump_extra.json
/GalaxyAtWar/tag.json
CAB-CU/modstate.json
CAB-CU/CustomRepresentationHelper.dll
InnerSphereMap/
